/* @font-face {
    font-family: gilroy;
    src: url(./public/fonts/Gilroy-Regular.ttf)format("truetype");
} */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(15, 18, 21);
    color: rgb(168, 168, 168);
    scroll-behavior: smooth;
}

#main {
    min-height: 100vh;
    width: 100%;
}

.slide {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(15, 18, 21);
}

h2 {
    color: #0b8dad;
}